/* Mobile first styling for a gallery and slideshow */
/* Start with a relatively clean slate */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
*, :before, :after {box-sizing: border-box;}

/* Style the basic elements */
body {font-family: serif; line-height: 1;}
header, footer {padding: 32px;}
header {
  text-align: left;
}
main {
  display: flex;
  flex-wrap: wrap;
  display: -ms-flexbox; /* IE10 */
  -ms-flex-wrap: wrap;
  padding: 0 3px;
}
footer a {
  background-color: RoyalBlue;
  text-decoration: none;
  letter-spacing: 2px;
  color: White;
  border-radius: 10px;
  padding: 10px;
}
footer a:hover {
  color: DarkSlateGrey;
}
h1, h2, p, ul {padding: 5px;}
h1, h2 {font-family: Garamond, Palatino, Georgia, serif; line-height: 1;}
h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
p {font-size: 1.25em; line-height: 1.25;}
ul {
  list-style-type: none; 
  font-variant: small-caps;
}
li {padding: 15px;}

/* Style the elements with an id. */
/* The modal that houses the slideshow. */
#slide-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: White;
  background-color: rgba(0,0,0,0.9);
}

/* The responsive image in slideshow that won't be larger than original size. */
#modal-content {
  display: block;
  margin: auto;
  padding: 5px;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
#next, #previous, #full {
  display: none;
}
#close {
  right: 3%;
}

/* Style the elements with a class. */
.slider-button {
  position: absolute;
  top: 2%;
  color: White;
  background-color: rgba(0,0,0,0.1);
  border-radius: 15px;
  padding: 2px 7px 2px 7px;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}
.slider-button:hover {
  color: LightGray;
  background-color: rgba(0,0,0,0.4);
}
.column {
  flex: 100%;
  -ms-flex: 100%;
  max-width: 100%;
  padding: 0 3px;
}
.column img {
  margin-top: 7px;
  vertical-align: middle;
  width: 100%;
}

/* Create two columns and adjustments for a tablet size. */
@media screen and (min-width: 550px) {
  .column {
    flex: 50%;
    -ms-flex: 50%;
    max-width: 50%;
  }
  h1 {font-size: 5em;}
  #next, #previous, #full {display: inline;}
  #next {
    left: 12%;
    padding: 0px 10px 5px 10px;
  }
  #previous {
    left: 3%;
    padding: 0px 10px 5px 10px;
  }
  #full {
    right: 12%;
  }
  #close {
    right: 3%;
  }
}

/* Create four columns for larger screens. */
@media screen and (min-width: 900px) {
  .column {
    flex: 25%;
    -ms-flex: 25%;
    max-width: 25%;
  }
}